<html>
<head>
    <style type="text/css">
        * {
            font-family: Roboto;
        }
		
		.row {
			background: #FFFFFF;
		}
		
		.content {
			width: 600px;
			margin: 0 auto;
			background: #E5E5E5;
			padding: 20px;
		}

        .img-size {
            margin: 0 auto;
    		width: 100px;
        }

        .text-left {
            text-align: left;
            margin-top: 1rem;
        }
        
        .button-click{
			  padding: 5px 10px 5px 10px;
              color: white;
              margin-top: 2rem;
              width: 13rem;
              height: 3rem;
              background: #0D7393;
              box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
              border-radius: 36px;
              outline: none;
              border: none;
              cursor: pointer;
        }
		a {
			text-decoration: none;
			color:#FFFFFF;
			cursor: pointer;
		}
    </style>
</head>
<body>
    <div class="row">
		<div class="content">
			<!-- <div style="text-align: center;font-size: 250%;color:#0D7393;font-weight: bold;"><%- tempdata.appName -%></div> -->
			<div class="img-size">
				<img src="<%- tempdata.logoPath -%>" height="100" width="100" />				
			</div>
			<div style="clear: both;"></div>
			<div>
				<div class="text-left">Hello <%- tempdata.name -%>,</div>
				<div class="text-left">
					Please click the below button to reset your password.
				</div>
				<div class="text-left">
					Alternatively, you can also copy and paste the link below in your browser's address bar.
				</div>
				 <div class="text-left" style="text-align: center;">
					<a href="<%- tempdata.resetUrl -%>" class="text-left">
						<span class="button-click"> Reset Password </span>
					</a>
				 </div>
				 <div class="text-left">Reset Password link:</div>
				 <div><a href="<%- tempdata.resetUrl -%>" style="color:blue"><%- tempdata.resetUrl -%></a> </div>
				 <div class="text-left">We hope you enjoy using <%- tempdata.appName -%>.</div>
				 <div class="text-left">Thanks and Regards,</div>
				 <div class="text-left"><%- tempdata.appName -%> Team</div>
			</div>
		</div>
    </div>
</body>
</html>
